pyelasticsearch==0.3
mock==0.8.0
python-dateutil==2.2
jsonschema==2.4.0
more_itertools
***REMOVED***
flask
gunicorn
django
nose
https://python-progressbar.googlecode.com/files/progressbar-2.3.tar.gz#egg=progressbar
boto
datadog
