pyelasticsearch==0.3
mock==0.8.0
python-dateutil==2.2
jsonschema==2.4.0
more_itertools
***REMOVED***
flask
gunicorn
django
nose
git+git://github.com/niltonvolpato/python-progressbar@32422c1148968336873b693b4016e709cd046a05#egg=progressbar
boto
datadog
raven
requests
